  h1 {
    font-size: 3.125em;
    color: white;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0.5em;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0.5em;
    font-size: 1.5em;
    color: white;
  }

  button {
    font-size: 1.25em;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid;
    background-color: white;
    border-radius: 0.25em;
  }

  .input {
    width: 50%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    margin: 0.25em; 
    font-size: 1.25rem;
    line-height: 1.1;
  }

  .result {
    margin: 1rem;
    font-size: 2em;
    color: white;
  }

  .container {
    height: 100%;
    width: 100%;
    background: rgb(13,0,36);
    background: linear-gradient(90deg, rgba(13,0,36,1) 0%, rgba(61,34,98,1) 35%, rgba(98,25,170,1) 100%);
    background-attachment: scroll;
  }

  .main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .selectionContent {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conversionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .downwardArrow {
    width: 2em;
    height: 1.5em;
    background-color: grey;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }
