<div class="container">
<div class="main">
    <h1>{{title}}</h1>
        <div class="selectionContent">
        <p>From base: </p>
        <select-base-component id="from" (baseEvent)="selectBase($event)"></select-base-component>
        <p>To base: </p>
        <select-base-component id="to" (baseEvent)="selectBase($event)"></select-base-component>
    </div>
    <div class="conversionContent">
        <p>Enter number:</p>
        <input class="input" type="text" [(ngModel)]="numberToConvert"/>
        <button (click)="convertBase()">Convert</button>
        @if (newBase && error == "") {
            <p>Result:</p>
            <p class="result">{{newBase}}</p>
            <p>Scroll down for calculation steps</p>
            <div class="downwardArrow"></div>
        } @else if (error != "") {
            <p>{{error}}</p>
        }
    </div>
</div>
    @if (newBase && error == "") {
        <show-calculations-component [fromDec]="fromDecCalculationSteps" [toDec]="toDecCalculationSteps"></show-calculations-component>
    } @else if (error != "") {
        <p>{{error}}</p>
    }
</div>