/* You can add global styles to this file, and also import other style files */

/* Fix the margin/padding being automatically added to the whole html-document*/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}